.shelf {
    background-color: bisque;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.book {
    height: 200px;
    width: 200px;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    margin: 8px 8px;
}

.bookinfo {
    margin: 15px 5px 0px;
}

#templatebook {
    display: none;
    background-color: cyan;
}